div.featuredHouseButtonLight {
    margin-top: 20px;
    color: var(--mqWhite);
    padding: 0px 30px 0px 30px; 
    border-style: solid;
    border-radius: 30px;
    transition: .4s;
    text-align: center;
    width: fit-content;
    min-width: 300px;
}

div.featuredHouseButtonLight:hover {
    cursor: pointer;
    color: var(--mqBlack);
    background-color: var(--mqWhite);
    border: solid var(--mqWhite);
    transition: .4s;
}

div.featuredHouseButtonDark {
    text-align: center;
    margin-top: 20px;
    color: var(--mqBlack);
    padding: 0px 30px 0px 30px; 
    border-style: solid;
    border-radius: 30px;
    width: fit-content;
    text-align: center;
    min-width: 300px;
    transition: .4s;
}

div.featuredHouseButtonDark:hover {
    cursor: pointer;
    color: var(--mqWhite);
    background-color: var(--mqBlack);
    border: solid var(--mqBlack);
    transition: .4s;
}