div.featuredHouseCard {
    min-width: 600px;
    width: 600px;
    height: 400px;
    border-radius: 30px;
    margin-right: 50px;
    padding: 80px 105px 25px 35px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .4s;
}

div.featuredHouseCard:hover {
    cursor: pointer;
    -webkit-filter: brightness(120%);
    transition: .4s;
}

div.priceAndFeaturesContainer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.featuredHousePrice {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18pt;
    background: var(--mqGreen);
    color: var(--mqWhite);
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
}

div.features {
    color: var(--mqGrey);
    font-size: 15pt;
    margin-left: 15px;
}

h1.featuredHouseTitle {
    font-family: 'Inter', sans-serif;
    color: var(--mqWhite);
    margin: 0;
}

p.featuredHouseBriefDescription {
    font-family: 'Inter', sans-serif;
    font-size: 11pt;
    color: var(--mqGrey);
    margin-top: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    div.featuredHouseCard {
        min-width: 300px;
        width: 300px;
        height: 500px;
        border-radius: 30px;
        margin-right: 30px;
        padding: 20px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: .4s;
    }

    h1.featuredHouseTitle {
        font-size: 15pt;
    }

    div.priceAndFeaturesContainer {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    div.features {
        color: var(--mqGrey);
        font-size: 12pt;
        margin-left: 0;
    }
}

@media screen and (max-width: 479px) {}