div.footerContent {
    padding: 40px;
    border-radius: 30px;
    background: var(--mqGreen);
    color: white;
}

div.greenWrapperProperties {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--mqGreen);
    padding: 100px 0 100px 0;
}

div.customContainer {
    width: 1200px;
}

@media screen and (max-width: 991px) {
    div.customContainer {
        width: 700px;
    }
}

@media screen and (max-width: 767px) {
    div.customContainer {
        width: 500px;
    }
}

@media screen and (max-width: 479px) {
    div.customContainer {
        width: 200px;
    }
}