
div.houseListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 50px;
    
    padding-bottom: 30px;
    /*overflow: auto;*/
}

/*
div.houseListContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 15px;
    column-gap: 30px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

/*
div.houseListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    overflow: auto;
    padding-bottom: 30px;
}
*/

@media screen and (max-width: 991px) {
    div.houseListContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 479px) {
    
}