div.customContainer {
    width: 1200px;
}

section.houseInfoSection {
    clear: both;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: 100px;
}

div.housePhotosCarousel {
    background-image: linear-gradient(to top, rgb(55, 103, 72), var(--mqGreen));
    width: 100%;
    height: 700px;
    border-radius: 30px;
}

div.houseDetailItem {
    display: flex;
    justify-content: space-between;
}