div.container {
    height: fit-content;
    background: rgb(235, 235, 235);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid green;
}
